<ion-view title="Step 1: prepare jars" hide-back-button="true">
	<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="check1" >
         </label>
         Prepare jars, lids, rings
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check2" ng-disabled="!check1">
         </label>
         Keep jars hot
      </li>
      <li class="item item-checkbox item-text-wrap">
         <label class="checkbox">
           <input type="checkbox" ng-model="check3" ng-disabled="!check2">
         </label>
         Fill canner with water, 140°F raw pack, 180°F hot pack
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check4" ng-disabled="!check3">
         </label>
         Prepare food
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check5" ng-disabled="!check4">
         </label>
         Fill jars, bubble, wipe rim
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check6" ng-disabled="!check5">
         </label>
         Adjust lids/rings
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check7" ng-disabled="!check6">
         </label>
         Place jars in canner
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check8" ng-disabled="!check7">
         </label>
         Add water to 1-2" over jars
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check9" ng-disabled="!check8" ng-click="goNext">
         </label>
         Turn heat to high
      </li>
    </ul>
    <a class="button button-block button-energized" ng-model="ptimer" ng-disabled="!check9" href="#/timer/1">Next</a>
  </ion-content>
</ion-view>