<ion-view title="Step 5: Finish up" hide-back-button="true">
	<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-home" ng-click="showAlert()">
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <ul class="list">
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check2">
         </label>
         Lift jars out, keep upright
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="check3" ng-disabled="!check2">
         </label>
         Place on heavy towel
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check4" ng-disabled="!check3">
         </label>
         Allow to cool, undisturbed
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check5" ng-disabled="!check4">
         </label>
         Check seals
      </li>
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="check6" ng-disabled="!check5">
         </label>
         Remove rings, clean jars
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check7" ng-disabled="!check6">
         </label>
         Label jars
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check8" ng-disabled="!check7">
         </label>
         Wash and dry canner and lid
      </li>
    </ul>
    <a class="button button-block button-energized" ng-model="ptimer" ng-disabled="!check8" href="#/finish">Next</a>
  </ion-content>
</ion-view>