<ion-view title="How are you canning?">
<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <a class="button button-block button-royal" ng-model="dial" ng-show="{{dial}}" href="#/elevation/dial">Dial Guage</a>
    <a class="button button-block button-positive" ng-model="weighted" ng-show="{{weighted}}" href="#/elevation/weighted">Weighted Guage</a>
    <a class="button button-block button-calm" ng-model="bath" ng-show="{{bath}}" href="#/elevation/bath">Water Bath</a>
    <h1 ng-show="!dial">Pressure canning is not available for {{foodType}}.</h1>
    <h1 ng-show="!bath">Water bath is not available for {{foodType}}.</h1>
  </ion-content>
</ion-view>