<ion-view title="">
<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <h3>How are you canning?</h3>
    <a class="button button-block button-royal" ng-model="dial" ng-show="{{dial}}" href="#/elevation/dial">Dial Gauge</a>
    <a class="button button-block button-calm" ng-model="weighted" ng-show="{{weighted}}" href="#/elevation/weighted">Weighted Gauge</a>
    <a class="button button-block button-calm" ng-model="bath" ng-show="{{bath}}" href="#/elevation/bath">Water Bath</a>
    <p ng-show="!dial">Pressure canning is not included for {{foodType}}.</p>
    <p ng-show="!bath">Water bath is not included for {{foodType}}.</p>
  </ion-content>
</ion-view>