<ion-view title="What is your elevation?">
	<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <a class="button button-block button-royal" href="#/canning/e1">0 - 1000'</a>
    <a class="button button-block button-positive" href="#/canning/e2">1000' - 2000'</a>
    <a class="button button-block button-calm" href="#/canning/e3">2000' - 3000'</a>
    <a class="button button-block button-balanced" href="#/canning/e4">3000' - 4000'</a>
    <a class="button button-block button-energized" href="#/canning/e5">4000' - 6000'</a>
    <a class="button button-block button-assertive" href="#/canning/e6">6000' - 8000'</a>
  </ion-content>
</ion-view>
<ion-footer-bar align-title="left" class="bar-stable padding-left">
  <h3 class="title-left">{{itemType.toUpperCase()}}.{{foodType.toUpperCase()}}.{{jarType.toUpperCase()}}.{{elevation.pack.toUpperCase()}}</h3>
</ion-footer-bar>