<ion-view title=""> 
	<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
  <div class="list card">
    <div class="item item-header">
      All done!
    </div>
    <div class="item item-body">
      <img class="full-image" src="img/finish.jpg">
      <p>
        Congratulations, you are done! Store your canned items in a cool dark place
      </p>
      <p>
        <a class="button button-block button-calm" href="#/home">Start canning another</a>
      </p>
    </div>

  </div>
  </ion-content>
</ion-view>
