<ion-view title="What would you like to can?" hide-back-button="true">
  <ion-content class="padding">
    <a class="button button-block button-positive" href="#/foods/vege">Vegetable</a>
    <a class="button button-block button-assertive" href="#/foods/fruit">Fruit</a>
    <a class="button button-block button-stable" href="#/foods/meat">Meat</a>
    <a class="button button-block button-balanced" href="#/foods/seafood">Seafood</a>
    <a class="button button-block button-calm" href="#/foods/pickles">Pickles</a>
  </ion-content>
  <div class="bar bar-footer bar-stable">
  	<a class="button button-icon icon ion-information-circled" href="#/about">  About this app</a>
  </div>
</ion-view>