<ion-view title="Step 3: Build pressure" hide-back-button="true">
	<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-home" ng-click="showAlert()">
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <ul class="list">
      <li class="item item-checkbox">
         <label class="checkbox">
           <input type="checkbox" ng-model="check1" >
         </label>
         Place weight or close petcock
      </li>
      <li class="item item-checkbox" >
         <label class="checkbox">
           <input type="checkbox" ng-model="check2" ng-disabled="!check1">
         </label>
         Let pressure build to {{myPressure}} PSI
      </li>
    </ul>
    <a class="button button-block button-energized" ng-model="ptimer" ng-disabled="!check2" href="#/timer/2">Next</a>
  </ion-content>
</ion-view>