<ion-view title="">
	<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <h3>Check your selctions:</h3>
    <h2 class="precheck"><span class="ion-checkmark balanced"></span>&nbsp;{{foodType}}</h2>
    <h2 class="precheck"><span class="ion-checkmark balanced"></span>&nbsp;{{jarType}} jars</h2>
    <h2 class="precheck"><span class="ion-checkmark balanced"></span>&nbsp;{{packType}} pack</h2>
    <h2 class="precheck"><span class="ion-checkmark balanced"></span>&nbsp;{{canning}}</h2>
    <h2 class="precheck"><span class="ion-checkmark balanced"></span>&nbsp;{{eType}} feet elevation</h2>
    <br>
    <a class="button button-block button-balanced" ng-show="pChecklist" href="#/pchecklist1"> Continue</a>
    <a class="button button-block button-balanced" ng-show="bChecklist" href="#/bchecklist1"> Continue</a>
  </ion-content>
</ion-view>