<ion-view title="Check">
	<ion-nav-buttons side="right">
      <a href="#/home"><button class="button button-icon icon ion-home">
      </button></a>
    </ion-nav-buttons>
  <ion-content class="padding">
    <h2>Check:</h2>
    <h1>{{foodType.toUpperCase()}}<br>
    	{{jarType.toUpperCase()}}<br>
    	{{packType.toUpperCase()}}<br>
    	{{eType.toUpperCase()}}<br>
    	{{precheck.canning.toUpperCase()}}</h1>
    <a class="button button-block button-large icon ion-checkmark button-balanced" href="#/checklist"></a>
  </ion-content>
</ion-view>